.logo {
  height: 5em;
  margin: 0;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo.espressif:hover {
  filter: drop-shadow(0 0 2em #dd5264aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

h1 {
  color: #333;
  margin-bottom: 20px;
  line-height: 0;
}

h2 {
  font-size: 2em;
  line-height: 0;
}

.input-row {
  width: 100%;
  display: flex;
  gap: 5px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.input-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.button,
button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: #007bff;
  color: white;
  cursor: pointer;
}

.button:hover,
button:hover {
  background: #0056b3;
}

label {
  border-width: 10px;
  border-color: #333;
  border-bottom-width: 1px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.activatePane {
  margin: 10px;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
}

.activate {
  border-color: #0d8bf1;
}

.deactivate {
  border-color: #b4cadb;
}

.status {
  margin-top: 20px;
  font-weight: bold;
  color: green;
}

.selective {
  display: flex;
  flex-direction: column;
  align-items: center;
}